This is the exercise 1 on method

# Variables - Exercise 1 üêç

In [1]:
#Create a `firstName` variable and assign the value `Mario` to it.
first_name = 'Mario'
first_name

'Mario'

# Variables - Exercise 2 üêç

In [2]:
#Create an `age` variable and assign the value `25` to it.
age = 25
age

25

# Variables - Exercise 3 üêç

In [6]:
#Create a `sentence` variable and assign the value `Hello, I'm Mario!` to it without using double quotes.
sencence = ''' Hello, I'm Mario! '''
sencence

" Hello, I'm Mario! "

# Variables - Exercise 4 üêç

In [7]:
#Create an `amount` variable and assign a `float` value to it.
amount = 4.5
amount

4.5

# Variables - Exercise 5 üêç

In [11]:
#Create a set of 3 variables and assign `True` as value of each one.

goals = 3
num = [2,5,1,10]
name = 'Peter'
print(goals <5)
print(10 in num)
print(name[-1] =='r')

True
True
True

# Variables - Exercise 6 üêç

In [12]:
#Remove the illegal characters in the variable `1my-first2_Name = 'Mario'`.
my_first_name = 'Mario'
my_first_name

'Mario'

# Variables - Exercise 7 üêç

In [13]:
#Write single quotes or double quotes correctly
#"Hi,
#my name is
#John Doe"

#"python'

'Hi, my name is "John Doe" python'

'Hi, my name is "John Doe" python'

# Variables - Exercise 8 üêç

In [14]:
#- Create 3 different variables and assign 3 different values. Write only one operation
#- Print them on terminal
name, course, year = 'Peter', 'Python', 2023
print(name)
print(course)
print(year)

Peter
Python
2023

# Variables - Exercise 9 üêç

In [17]:
#- swap the value of the variables
a = 12
b = 'Hello'
a, b = b, a
print(a, b)

Hello 12

# Variables - Exercise 10 üêç

In [19]:
#- Print the length of each variable
hello = 'Hello!'
name = 'Jhon Doe'
age = '40'
print(len(hello))
print(len(name))
print(len(age))

6
8
2

# Variables - Exercise 11 üêç

In [ ]:
#- Modify the variables as suggested
'The Python file attach to the this excercise is empty'

# Variables - Exercise 12 üêç

In [20]:
#- Change name and age using formatted string.
#hello = "Hello, Mike. You are 30"
hello = 'Hello'
name = 'Mike'
age = 30
print(f'{hello}, {name}. you are {age}')

Hello, Mike. you are 30

# Operators - Exercise 1 üêç

In [22]:
#- Insert the appropriate logical operator in order to print `False`
age = 18
print(age > 25)

False